.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
  align-items: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

}

.nav-bar {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: #ff471a;
  height: 80px;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.nav-bar h2 {
 
  margin-bottom: 10px;
}

.img1 {
  width: 50%;
  height: fit-content;
}

.card {
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card-write{
  font-size: 1.2em;
  font-family: monospace;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.img2{
  width: 100%;
}